.home-slider{
    display: flex;
    background-color: #e3ffe6;
    height: 70vh;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
}
.first-slide-part{
    margin: auto;
}

.first-slide-part p{
    font-size: 1.5rem;
    margin: 2vh;
}
.first-slide-part h1{
    font-size: 2.5rem;
    margin: 2vh;
}
.first-slide-part button{
    margin: 6vh;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
    font-size: 1rem;
}
.first-slide-part button svg{
    font-weight: bolder;
}
.first-slide-part button:hover{
    /* filter: brightness(2); */
    background-color: rgba(0, 0, 0, 0.918);
}
.second-slide-part img{
    height: 70vh;
    margin: auto;
    margin-right: 8vh;

}