.product-card{
    height: auto;
    width: 45vh;
    overflow: hidden;
    background-color: #e3ffe6;
    /* background-color: aquamarine; */
    border-radius: 1.5rem;
    margin: 0.5rem;
    box-shadow: 10px 10px 10px rgb(235, 233, 233);

}
.stock-data {
    position: absolute;
    font-size: 0.8rem;
    font-weight: 400;
    color: #384659;
    margin: 0.4rem;
    box-shadow: 20px 20px 50px grey;

}
.product-image {
    margin: auto;
    width: 100%;
}
.product-detail{
    text-align: center;
}
.product-detail h1{
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem;
}
.price-rating{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}
.price{
    border: 2px solid #3ecc72;
    border-radius: 0.5rem;
    padding: 0.2rem;
    color: #3ecc72;
}

.rating{
    font-size: 1rem;
}
.hover-div{
    display: flex;
    /* position: absolute; */
    justify-content: space-evenly;
}
.hover-div button {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: black;
    color: white;
    font-size: 0.9rem;
}

.product-card:hover .hover-div{
        display: flex;
        animation: slide-down 3.3s ease-out;
    
}





@keyframes slide-down {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
